/* Enter your custom styles here */


@media only screen and (min-width: 1920px) {
    .myCenterMargins {
        margin-left: 35%;
        margin-right: 35%;
    }
}

@media only screen and (min-width: 1024px ) and (max-width: 1919px) {
    .myCenterMargins {
        margin-left: 15%;
        margin-right: 15%;
    }
}

@media only screen and (min-width: 680px ) and (max-width: 1023px) {
    .myCenterMargins {
        margin-left: 5%;
        margin-right: 5%;
    }
}

.myBackgroundImage {
    background-image: url("../images/appBackground2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    min-height: 100%;
}

@keyframes slideUp {
    from {
        opacity: 0;
        transform: translateY(800px); /* Start below */
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.tile {
    animation: slideUp 0.8s ease-out forwards;
}

.myAboutMeBox {
    margin: 200px 300px 200px 300px;
}

.myTestVbox {
    border-radius: 5px;
    background-color: white;
    border: 4px solid yellow;
}

.myTestVbox .sapMText {
    color: black;
}

.myCenteredVBox {
    place-self: center;
}

.noMarginGrid.sapUiRespGrid.sapUiRespGridVSpace1 > div {
    margin: 0;
    padding: 0;
}

.noMarginGrid.sapUiRespGrid.sapUiRespGridHSpace1 {
     padding: 0;
}

.myForm2 {
    margin-left: 4.766666%
}

.myNoMarginForm .sapUiFormResGrid > div {
    padding: 0rem 0.75rem 1rem;
    box-sizing: border-box;
}

.myLowPaddingBottom .sapUiFormResGrid > div {
    padding: 1rem 0.75rem 0.4rem;
    box-sizing: border-box;
}

.myLowPaddingBottom .sapUiFormM:not(.sapUiFormEdit) > .sapUiFormResGrid > div:not(.sapMTB) {
    padding-bottom: 0.4rem;
}